body{
	margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('assets/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	overflow-x: hidden;
	overflow: hidden; 
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.leftLogo{
	width: 5%;
	top: 27%;
	left: 35%;
	position: fixed;
	animation-fill-mode: forwards;
	animation-duration: 1.5s;
	animation-name: slideInLeft;
	margin-bottom: 75%;
}
.largeLogo{
	width: 10%;
	top: 1%;
	left: 42%;
	position: fixed;
	animation-fill-mode: forwards;
	animation-duration: 1.75s;
    animation-name: slideIn;
}
.rightLogo{
	width: 5%;
	top: 27%;
	left: 53%;
	position: fixed;
	animation-fill-mode: forwards;
	animation-duration: 1.5s;
	animation-name: slideInRight;
	margin-bottom: 90%;
}
@keyframes slideIn {
    0% {
        transform: translateY(-300%);
    }
	50%{
		transform: translateX(20%) translateY(200%) scale(1);
	}
	70%{
		transform: translateX(20%) translateY(200%) scale(1);
	}
    80% {
        transform: translateY(0);
    }
	100%{
		transform: translateX(30%) scale(0.5);
	}
}
@keyframes slideInLeft {
    0% {
        transform: translateX(-1000%);
    }
	50%{
		transform: translateX(40%) translateY(200%) scale(1);
	}
    70% {
        transform: translateX(40%) translateY(200%) scale(1);
    }
	80% {
        transform: translateY(0);
    }
	100%{
		transform: translateX(100%) translateY(-200%) scale(0.5);
	}
}
@keyframes slideInRight {
    0% {
        transform: translateX(1000%);
    }
	50%{
		transform: translateX(50%) translateY(200%) scale(1);
	}
    70% {
        transform: translateX(50%) translateY(200%) scale(1);
    }
	80% {
        transform: translateY(0);
    }
	100%{
		transform: translateX(30%) translateY(-200%) scale(0.5);
	}
}
@keyframes moveUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}

@keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    body {
        margin: 0;
        padding: 0;
    }
.background-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1; 
        background-image: url('assets/background.png'); 
        background-size: cover;
        animation: scrollBackground 30s linear infinite; 
    }

    @keyframes scrollBackground {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: 0 -100%; 
        }
    }
#searchContainer {
    position: fixed;
    top: 9%;
    left: 3%;
    padding: 10px;
    background-color: transparent;
    z-index: 1000;
	transition: transform 0.3s ease;
}

#searchInput {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
	color: #000;
}
#imageGallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(4, 1fr)); 
  grid-gap: 10px; 
}

    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        padding: 20px;
        animation: fadeIn 0.5s ease 1.5s forwards;
        opacity: 0;
        position: absolute;
        top: 15%;
        width: 100%;
        height: 80%;
        overflow-y: scroll;
        box-sizing: border-box; 
		transform: translateX(2.65%);
    }
	.content{
		animation: fadeIn 0.5s ease 1.5s forwards;
        opacity: 0;
        position: absolute;
	}

    .grid-item {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        transition: transform 0.3s ease;
        width: calc(20vw - 10px);
        height: auto; 
        max-width: 100%;
        max-height: 100%; 
    }

    .grid-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .grid-item:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    .hover-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hover-overlay h2 {
        color: #fff;
        font-size: 24px;
        text-align: center;
    }

    .grid-item:hover .hover-overlay {
        opacity: 1;
    }
.top-banner {
  position: fixed;
  top: 0;
  left: -100%;
  width: 150%;
  height: 50px; 
  background-color: invisible;
  color: #fff;
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 15px; 
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: moveBanner 30s linear infinite; 
  animation-delay: 0s; 
}
.navbar {
    position: fixed; 
    top: 7.5%; 
    right: 2.5%; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    background-color: transparent;
    color: #fff;
    padding: 0 20px;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 25px; 
    font-weight: bold;
    transform: translateY(0);
  }


  .navbar-btn {
    margin-left: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #FF0000;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
  }


  .navbar-btn:hover {
	animation: fadeInvert 0.5s forwards;
  } 
@keyframes fadeInvert{
	0%{
		background-color: #000;
		color: #fff;
	}
	100%{
		background-color: #fff;
		color: #000;
	}
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
@keyframes moveBanner {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(200%);
  }
}

#buttonContainer {
	margin-top: 5px;
	position: fixed;
	top: 15%;
	left: 3%;
    padding: 10px;
}

.smallButton {
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f00;
  color: #fff;
  cursor: pointer;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.smallButton:hover {
  background-color: #d00;
}
